[Desktop Entry]
Categories=Game;Utility;
Comment=Browser-based game streaming host
Exec=bash -c 'cd "$(dirname "%k")" && ./bin/start.cmd'
Icon=/usr/share/pixmaps/NearsecTogether.png
Name=NearsecTogether
Path=
StartupNotify=true
Terminal=true
Type=Application
